@mixin hidden_scroll() {
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none; /* IE and Edge */
	&::-webkit-scrollbar {
		display: none; /* Chrome, Safari, and Opera */
	}
	scrollbar-width: none; /* Firefox */
}
